* {
    box-sizing: border-box;
}

body {
    font-size: 22px;
    font-family: Arial;
    line-height: 1.5;
}

.title {
    text-transform: uppercase;
}
.news {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}