//- Reusable footer component with links
footer.site-footer
  .container
    p.copyright
      | &copy; #{new Date().getFullYear()} 
      a(href="https://web.sergeitumanov.com/", target="_blank", rel="noopener") Sergei Tumanov
      | . All rights reserved.
    
    .footer-links
      small Built with 
        a(href="https://github.com/SergeiTWeb/gulp-project", target="_blank", rel="noopener") Gulp Starter Kit
      |  • 
      a(href="https://unsplash.com/", target="_blank", rel="noopener") Images from Unsplash
